<h1>HDB List</h1>

<p>List of HDB Resale transactions</p>

<p *ngIf="!hdbs"><em>Loading...</em></p>

<table class='table table-striped table-hover' *ngIf="hdbs">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col" sortable="town" (sort)="onSort($event)">Town</th>
      <th scope="col" sortable="flat_type" (sort)="onSort($event)">Flat type</th>
      <th scope="col" sortable="flat_model" (sort)="onSort($event)">Flat model</th>
      <th scope="col" sortable="floor_area_sqm" (sort)="onSort($event)">Floor area (sqm)</th>
      <th scope="col" sortable="street_name" (sort)="onSort($event)">Street name</th>
      <th scope="col" sortable="resale_price" (sort)="onSort($event)">Resale price (S$)</th>
      <th scope="col" sortable="month" (sort)="onSort($event)">Month</th>
      <th scope="col" sortable="remaining_lease" (sort)="onSort($event)">Remaining lease</th>
      <th scope="col" sortable="lease_commence_date" (sort)="onSort($event)">Lease commence date</th>
      <th scope="col" sortable="storey_range" (sort)="onSort($event)">Storey range</th>
      <th scope="col" sortable="block" (sort)="onSort($event)">Block</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hdb of hdbs">
      <th scope="row">{{ hdb.id }}</th>
      <td>{{ hdb.town }}</td>
      <td>{{ hdb.flat_type }}</td>
      <td>{{ hdb.flat_model }}</td>
      <td>{{ hdb.floor_area_sqm | number}}</td>
      <td>{{ hdb.street_name }}</td>
      <td>{{ hdb.resale_price | number}}</td>
      <td>{{ hdb.month }}</td>
      <td>{{ hdb.remaining_lease }}</td>
      <td>{{ hdb.lease_commence_date | number}}</td>
      <td>{{ hdb.storey_range }}</td>
      <td>{{ hdb.block }}</td>
    </tr>
  </tbody>
</table>

