<h1>HDB List</h1>

<p>List of HDB Resale transactions</p>

<p *ngIf="!hdbs"><em>Loading...</em></p>

<table class='table' *ngIf="hdbs">
  <thead>
    <tr>
      <th>town</th>
      <th>flat_type</th>
      <th>flat_model</th>
      <th>floor_area_sqm</th>
      <th>street_name</th>
      <th>resale_price</th>
      <th>month</th>
      <th>remaining_lease</th>
      <th>lease_commence_date</th>
      <th>storey_range</th>
      <th>id</th>
      <th>block</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hdb of hdbs">
      <td>{{ hdb.town }}</td>
      <td>{{ hdb.flat_type }}</td>
      <td>{{ hdb.flat_model }}</td>
      <td>{{ hdb.floor_area_sqm }}</td>
      <td>{{ hdb.street_name }}</td>
      <td>{{ hdb.resale_price }}</td>
      <td>{{ hdb.month }}</td>
      <td>{{ hdb.remaining_lease }}</td>
      <td>{{ hdb.lease_commence_date }}</td>
      <td>{{ hdb.storey_range }}</td>
      <td>{{ hdb.id }}</td>
      <td>{{ hdb.block }}</td>
    </tr>
  </tbody>
</table>
